@charset "utf-8";

html, body, .tooltip, .opoover {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;  /* 5px の値を変更 */
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus  {
    color: #fff;
    background-color: #3097D1;
}

.input-sm {
  height: 26px;
}

.label-font-size {
  font-size: 18px;
}

.classWithPad {
  padding-left: 5px;
}

.btn-user-style {
  padding: 6px 30px 6px 30px;
}

.btn-block-75 {
  display: block;
  width: 75%;
}

 .calculatedValue {
    border-bottom: 1px solid #7da6d6;
    font-size: 30px;
    font-weight: 700;
}
